<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;url=http://browsehappy.com/"/>
  <![endif]-->
  <link rel="dns-prefetch" href="//www.google-analytics.com"/>
  <link rel="dns-prefetch" href="//ajax.googleapis.com"/>
  <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
  <link rel="dns-prefetch" href="//fonts.gstatic.com"/>
  <link rel="dns-prefetch" href="//{{awsApiGatewayHostname}}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta id="theme-color" name="theme-color" content="#4527A0"/>
  <meta name="microid" content="mailto:http:sha1:85a36cacd2230575172266f765d9dfba059906ec"/>
  <style>
    {{{stylesheet}}}
  </style>
  <meta name="Description"
        CONTENT="Download your TripAdvisor Travelmap. You only need your Profile URL, one click and a second waiting time."/>
  <link rel="author" href="https://plus.google.com/+ChristianHaller1982"/>
  <title>Download Your TripAdvisor Travel Map 📍</title>
</head>

<body>
<div class="datamap">
  <form class="form">
   <fieldset class="fieldset">

      <input placeholder="http://www.tripadvisor.com/profile/..." class="url" type="text" required/><button class="submit" type="submit"><span>submit</span></button>
   </fieldset>
  </form>
</div>
<footer class="footer">
<div class="footer-wrapper">
  <div class="footer-info">
  <a href="http://www.tripadvisor.com/ShowTopic-g1-i12105-k4907156-o20-How_can_I_download_my_travel_map_pins_list-TripAdvisor_Support.html">About</a>

  <a class="icon icon-octocat" href="https://github.com/christianhaller/download-your-travelmap">github</a>
    {{#if buildId}}
      <a href="https://travis-ci.org/christianhaller/download-your-travelmap/builds/{{buildId}}"
         class="icon-travisci icon">build: #{{buildNumber}}</a>
    {{else}}
      <span class="icon-travisci icon">build: 0</span>
    {{/if}}
  </div>

    <ul class="download">
      <li><a href="">csv</a></li>
      <li><a href="">kml</a></li>
      <li><a href="">donate</a></li>
    </ul>
</div>
</footer>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-53443219-1', 'auto');
  ga('send', 'pageview');
</script>
<script>{{{script}}}</script>
<script>$(document).ready(function(){
    $('.submit').on('click touchend',function(e){
        $(this).closest('.form').addClass('off');
      e.preventDefault();
    });
});</script>
</body>
</html>
